*{
    margin: 0;
    padding: 0;
    border: none;
}

.syne-mono-regular {
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

body{
    font-family: "Syne Mono", monospace;
}

/* ************************************* */
/* HEADER SECTION */
/* ************************************* */

header{
    background-color: white;
    height: 80px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
}

header .categories{
    display: flex;
    margin: 20px 20px 20px 40px;
    height: 40px;
    width: 30%;
}

header .categories p{
    text-transform: uppercase;
    padding: 10px 4px;
    font-size: 18px;
}

header .categories p:hover{
    cursor: pointer;
}

header .name{
    display: flex;
    margin: 20px;
    height: 40px;
    width: 30%;
    justify-self: center;
    justify-content: center;
}

header .name p{
    text-transform: uppercase;
    padding: 6px;
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 24px;
}

header .links{
    display: flex;
    justify-content: flex-end;
    margin: 20px 40px 20px 20px;
    height: 40px;
    width: 30%
}

header .links span{
    font-size: 30px;
    padding: 6px;
}

header .links span:hover {
    cursor: pointer;
}

/* ************************************* */
/* HERO SECTION */
/* ************************************* */

.hero{
    height: 630px;
    max-width: 100%;
    position: relative;
}

.hero img{
    position: absolute;
    height: 600px;
    width: 1800px;
    overflow: hidden;
    max-width: 100%;
}

.hero .overlay{
    position: absolute;
    height: 600px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4)
}

.hero .overlay .best-seller{    
    padding: 10px;
    display: flex;
    margin: 200px 0 10px 0;
    font-size: 32px;
    height: auto;
    max-width: 500px;
    width: 500px;
    text-wrap: balance;
    justify-self: center;
    justify-content: center;
    color: white;
    text-transform: capitalize;
    background-color: transparent;
}

.hero .overlay .buy-now{
    display: flex;
    font-family: "Syne Mono", monospace;
    background-color: transparent;
    text-transform: capitalize;
    color: white;
    border: 2px solid white;
    padding: 8px 36px;
    font-size: 24px;
    justify-self: center;
    border-radius: 10px;
    position: relative;
}

.hero .overlay .buy-now::after{
    content: '';
    position: absolute;
    height: 1px;
    left: 24px;
    bottom: 8px;
    width: 0;
    background-color: white;
    transition: width .2s;
}

.hero .overlay .buy-now:hover:after{
    width: 75%;
    border-radius: 2px;
    cursor: pointer;
}



/* ************************************* */
/* PRODUCTS SECTION */
/* ************************************* */

.products{
    border: 2px solid sandybrown;
}

.products .card{
    border: 2px solid seagreen;
}