*{
    margin: 0;
    padding: 0;
    border: none;
}

.syne-mono-regular {
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

body{
    font-family: "Syne Mono", monospace;
}

/* ************************************* */
/* HEADER SECTION */
/* ************************************* */

header{
    background-color: white;
    height: 80px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
}

header .categories{
    display: flex;
    margin: 20px 20px 20px 40px;
    height: 40px;
    width: 30%;
}

header .categories p{
    text-transform: uppercase;
    padding: 10px 4px;
    font-size: 18px;
}

header .categories p:hover{
    cursor: pointer;
}

header .name{
    display: flex;
    margin: 20px;
    height: 40px;
    width: 30%;
    justify-self: center;
    justify-content: center;
}

header .name p{
    text-transform: uppercase;
    padding: 6px;
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 24px;
}

header .links{
    display: flex;
    justify-content: flex-end;
    margin: 20px 40px 20px 20px;
    height: 40px;
    width: 30%
}

header .links span{
    font-size: 30px;
    padding: 6px;
}

header .links span:hover {
    cursor: pointer;
}

/* ************************************* */
/* HERO SECTION */
/* ************************************* */

.hero{
    height: 450px;
    max-width: 100%;
    position: relative;
    background-image: url("../images/hero_banner.jpg");
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero .overlay{
    position: absolute;
    height: 600px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4)
}

.hero .overlay .best-seller{    
    padding: 10px;
    display: flex;
    margin: 200px 0 10px 0;
    font-size: 32px;
    height: auto;
    max-width: 500px;
    width: 500px;
    text-wrap: balance;
    justify-self: center;
    justify-content: center;
    color: white;
    text-transform: capitalize;
    background-color: transparent;
}

.hero .overlay .buy-now{
    display: flex;
    font-family: "Syne Mono", monospace;
    background-color: transparent;
    text-transform: capitalize;
    color: white;
    border: 2px solid white;
    padding: 8px 36px;
    font-size: 24px;
    justify-self: center;
    border-radius: 10px;
    position: relative;
}

.hero .overlay .buy-now::after{
    content: '';
    position: absolute;
    height: 1px;
    left: 24px;
    bottom: 8px;
    width: 0;
    background-color: white;
    transition: width .2s;
}

.hero .overlay .buy-now:hover:after{
    width: 75%;
    border-radius: 2px;
}

.hero .overlay .buy-now:hover {
    cursor: pointer;
}



/* ************************************* */
/* PRODUCTS SECTION */
/* ************************************* */

.products{
    padding: 10px;
    justify-content: space-evenly;
    height: auto;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    overflow: none;
    flex-wrap: wrap;
}

.products .card{
    margin: 50px 10px;
    height: 500px;
    min-width: 400px;
    width: 20%;
}

.products .card .img-container {
    display: flex;
    justify-self: center;
    width: 100%;
    height: 70%;
}

.products .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.products .card .product-name{
    margin: 8px 0 0 4px;
    font-size: 20px;
    color: black;
}

.products .card .price{
    color: #c82c2c;
    margin: 0 0 0 4px;
    font-size: 20px;
}

.products .card .description{
    color: grey;
    margin: 0 0 0 4px;
    font-size: 18px;
}

/* ************************************* */
/* FOOTER SECTION */
/* ************************************* */

footer {
    max-width: 100%;
    padding: 20px;
    height: auto;
    background-color: rgba(124, 123, 123, 0.4);
}

footer .heading {
    margin: 20px 60px 8px;
    font-size: 20px;
    font-weight: 800;
}

footer p{
    display: flex;
    margin: 4px 25px;
}

footer p span{
    margin: 0 6px 0 ;
    display: flex;
    align-self: baseline;
}