*{
    margin: 0;
    padding: 0;
    border: none;
}

.syne-mono-regular {
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

body{
    font-family: "Syne Mono", monospace;
}

/* ************************************* */
/* HEADER SECTION */
/* ************************************* */

header{
    background-color: white;
    height: 80px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
}

header .categories{
    display: flex;
    margin: 20px 20px 20px 40px;
    height: 40px;
    width: 30%;
}

header .categories p{
    text-transform: uppercase;
    padding: 10px 4px;
    font-size: 18px;
}

header .categories p:hover{
    cursor: pointer;
}

header .name{
    display: flex;
    margin: 20px;
    height: 40px;
    width: 30%;
    justify-self: center;
    justify-content: center;
}

header .name p{
    text-transform: uppercase;
    padding: 6px;
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 24px;
}

header .links{
    display: flex;
    justify-content: flex-end;
    margin: 20px 40px 20px 20px;
    height: 40px;
    width: 30%
}

header .links span{
    font-size: 30px;
    padding: 6px;
}

header .links span:hover {
    cursor: pointer;
}